<h1>Add Pokémon Card</h1>

<form action="/admin/cards" method="POST">

  <label>Name:</label>
  <input type="text" name="name" required>

  <label>Type:</label>
  <input type="text" name="card_type">

  <label>HP:</label>
  <input type="number" name="hp">

  <label>Rarity:</label>
  <input type="text" name="rarity">

  <label>Collection:</label>
  <input type="text" name="collection">

  <label>Card Number:</label>
  <input type="text" name="card_number">

  <button type="submit">Add Card</button>
</form>
